.button {
    -fx-background-color: #f0f0f0;
    -fx-text-fill: #333;
    -fx-font-size: 12px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

.button:hover {
    -fx-background-color: #e0e0e0;  
    -fx-border-color: #ddd;        
}

.label {
    -fx-font-size: 12px;
    -fx-text-fill: #333;
    -fx-font-family: Arial;
}

.title {
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-font-size: 24px;
    -fx-text-fill: #333;
}

.sub-title {
    -fx-font-family: "Arial";
    -fx-font-weight: normal;
    -fx-font-size: 18px;
    -fx-text-fill: #555;
}

.text-field {
    -fx-font-size: 12px;
    -fx-padding: 5px;
    -fx-background-color: #f5f5f5;
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
}

.radio-button {
    -fx-font-size: 12px;
    -fx-text-fill: #333;
}