.root {
    -fx-background-color: #ffffff; /* Couleur de fond de toute l'application */
}

/* Boutons */
.button {
    -fx-background-color: #f0f8ff; /* AliceBlue */
    -fx-text-fill: #333;
    -fx-font-size: 14.0px;
    -fx-padding: 10.0px 20.0px;
    -fx-border-radius: 20.0px;
    -fx-background-radius: 20.0px;
    -fx-border-color: #1e90ff; /* DodgerBlue */
    -fx-border-width: 2.0px;
}

.button:hover {
    -fx-background-color: #e0f7fa; /* LightCyan */
    -fx-border-color: #ffa500; /* Orange */
}

/* Style pour les boutons désactivés */
.button:disabled {
    -fx-background-color: #d0d0d0; /* Couleur de fond plus claire mais encore visible */
    -fx-text-fill: #808080; /* Couleur du texte plus foncée que précédemment pour plus de contraste */
    -fx-border-color: #b0b0b0; /* Couleur de contour plus claire mais visible */
    -fx-border-width: 1.0px; /* Largeur du contour */
}

/* Style pour le bouton de recherche avec une icône */
.button-search {
    -fx-background-color: transparent; /* Pas de fond pour les icônes */
    -fx-padding: 0.0; /* Pas de padding pour une icône */
    -fx-pref-width: 30.0px; /* Largeur fixe pour l'icône */
    -fx-pref-height: 30.0px; /* Hauteur fixe pour l'icône */
    -fx-border-color: #1e90ff; /* DodgerBlue */
    -fx-border-width: 2.0px; /* Largeur du contour */
}

/* Labels */
.label {
    -fx-font-size: 14.0px;
    -fx-text-fill: #333;
    -fx-font-family: "Roboto", sans-serif;
}

/* Titres */
.title {
    -fx-font-family: "Roboto", sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 24.0px;
    -fx-text-fill: #1e90ff; /* DodgerBlue */
}

/* Sous-titres */
.sub-title {
    -fx-font-family: "Roboto", sans-serif;
    -fx-font-weight: normal;
    -fx-font-size: 16.0px;
    -fx-text-fill: #555;
}

/* Champs de texte */
.text-field {
    -fx-font-size: 14.0px;
    -fx-padding: 8.0px;
    -fx-background-color: #ffffff;
    -fx-border-color: #ccc;
    -fx-border-width: 1.0px;
    -fx-border-radius: 5.0px;
}

.text-field-error {
    -fx-border-color: #ffa500;
    -fx-border-width: 1.5px;
}

/* Radio boutons */
.radio-button {
    -fx-font-size: 14.0px;
    -fx-text-fill: #333;
}

/* Conteneurs (GridPane, VBox, etc.) */
.container {
    -fx-background-color: #fafafa; /* Almost white */
    -fx-border-color: #ddd; /* Light gray */
    -fx-border-width: 2.0px;
    -fx-border-radius: 5.0px;
    -fx-padding: 10.0px;
}



.table-view {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-border-width: 1.0px;
    -fx-padding: 0.0; /* Assurez-vous qu'il n'y a pas de padding excessif */
}

.table-view .column-header-background {
    -fx-background-color: #e6f0fa;
    -fx-border-color: #cccccc;
    -fx-border-width: 0.0 0.0 1.0px 0.0;
}

.table-view .column-header .label {
    -fx-text-fill: #333333;
    -fx-font-weight: bold;
    -fx-font-size: 14.0px;
    -fx-padding: 5.0px 10.0px;
}

.table-row-cell {
    -fx-background-color: #ffffff;
    -fx-border-color: transparent;
    -fx-padding: 0.0;
    -fx-min-height: 30.0px;
}

.table-row-cell:selected {
    -fx-background-color: #d4e9fa;
}

.table-cell {
    -fx-text-fill: #333333;
    -fx-font-size: 14.0px;
    -fx-padding: 5.0px 10.0px;
}

.table-cell:selected {
    -fx-background-color: #d4e9fa;
    -fx-text-fill: #333333;
}

/* Ajuster la barre de défilement verticale pour ne pas créer de décalage */
/* Ajuster la largeur de la barre de défilement verticale */
.scroll-bar:vertical {
    -fx-pref-width: 16.0px; /* Changez la valeur selon vos besoins */
}

/* Ajuster les boutons d'incrémentation et de décrémentation */
.scroll-bar:vertical .increment-button, 
.scroll-bar:vertical .decrement-button {
    -fx-padding: 0.0;
    -fx-pref-height: 16.0px; /* Assurez-vous que les boutons sont de la même largeur que la barre */
}

/* Ajuster la largeur de la piste de défilement */
.scroll-bar:vertical .track {
    -fx-background-color: #cccccc; /* Couleur de fond de la piste */
    -fx-pref-width: 16.0px; /* Correspond à la largeur de la barre */
}

/* Ajuster la largeur du bouton de défilement (thumb) */
.scroll-bar:vertical .thumb {
    -fx-background-color: #a6a6a6; /* Couleur du bouton de défilement */
    -fx-pref-width: 16.0px; /* Correspond à la largeur de la barre */
    -fx-background-radius: 8.0px; /* Un peu de rondeur si vous le souhaitez */
}

/* Ajuster la barre de défilement horizontale de manière similaire */
.scroll-bar:horizontal {
    -fx-pref-height: 16.0px; /* Hauteur de la barre de défilement horizontale */
}

.scroll-bar:horizontal .increment-button, 
.scroll-bar:horizontal .decrement-button {
    -fx-padding: 0.0;
    -fx-pref-width: 16.0px; 
}

.scroll-bar:horizontal .track {
    -fx-background-color: #cccccc;
    -fx-pref-height: 16.0px;
}

.scroll-bar:horizontal .thumb {
    -fx-background-color: #a6a6a6;
    -fx-pref-height: 16.0px;
    -fx-background-radius: 8.0px;
}

/* style.css */

/* Cible la fenêtre de dialogue */
.alert{
    -fx-font-size: 14px; /* Taille du texte */
    -fx-text-fill:#ffa500; /* Couleur du texte */
    -fx-padding: 0px; /* Ajouter du padding pour plus de visibilité */
}

/* Cible le contenu du message d'alerte spécifiquement */
.alert .content {
    -fx-font-size: 14px; /* Taille du texte */
    -fx-text-fill: #ffa500; /* Couleur du texte */
    -fx-font-weight: bold; /* Texte en gras */
    -fx-alignment: center; /* Aligner le texte au centre */
    -fx-text-alignment: center; /* Aligner le texte au centre */
    -fx-padding: 0px; /* Ajouter du padding pour plus de visibilité */
    
}
.alert .container {
    -fx-background-color: #FAFAFA; /* Almost white */
    -fx-border-color: #ddd; /* Light gray */
    -fx-border-width: 2.0px;
    -fx-border-radius: 5.0px;
    -fx-padding: 0px;
}

